@use '../../../base' as base;

.news_feed_section {
    width: 1440px;
    height: 486px;
    background: #F4F6F8;
    padding-top: 16px;

    .read_all_news {
        height: 49px;
        padding: 16px 0px 16px 0px;
        border-radius: 4px;
        padding: 8px;

        a {
            text-align: left;
            color:  base.$textColor;
            text-decoration-color:  base.$textColor;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 768px) {
    .news_feed_section {
        max-width: 80%;
        margin: 0 auto;
    }
}