.list_why {
    ul.list {
        margin: 0 auto;
        height: 100%;
        width: 1310px;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        li {
            flex-basis: 33.33%;
            padding: 32px 0px 32px 0px;
            border-radius: 8px;
            margin-bottom: 17px;
            height: inherit;
        }
    }
}

@media only screen and (max-width: 768px) {
    .list_why {
        ul.list {
            max-width: 100%;
            display: block;
        }
    }
}